@tailwind base;
@tailwind components;
@tailwind utilities;
body > div {
  background-image: url(./images/texture.png);
}

.custom-border {
  background-image: url(./icons/line.svg);
  background-repeat: repeat-x;
}
