@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
body > div {
  background-image: url(./images/texture.png);
}

.custom-border {
  background-image: url(./icons/line.svg);
  background-repeat: repeat-x;
}
